:root {
    --default-font: 'Open sans', sans serif;
    --primary-color: rgb(60, 119, 207);
    --grid-border-color: rgb(221, 209, 35);
    --fc-one: #fff;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

section.main {
    height: 100%;
    display: flex;
    flex-direction: row;
}

aside {
    height: 100%;
    width: 20%;
    background-color: var(--primary-color);
}

main {
    height: 100%;
    width: 80%;
}

.aside_links {
    height: 100%;
    color: var(--fc-one);
    font-family: var(--default-font);
    margin: 20px;
}

.mdi {
    font-size: 35px;
}
