:root {
    --default-font: 'Open sans', sans serif;
    --primary-color: rgb(60, 119, 207);
    --grid-border-color: rgb(221, 209, 35);
    --fc-one: #fff;
    --margin-one: 20px;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--default-font);
}

/*body {
    height: 100vh;
}*/

section.main {
    height: 100%;
    display: flex;
    flex-direction: row;
}

aside {
    width: 20%;
    background-color: var(--primary-color);
}

.aside_links {
    height: 100%;
    color: var(--fc-one);
    font-family: var(--default-font);
    margin: var(--margin-one);
}

.mdi mdi-view-dashboard {
    font-size: 35px;
}

ul {
    list-style-type: none;
    margin-top: var(--margin-one);
    margin-top: 50px;
}

li {
    margin: var(--margin-one) auto;
}

.list_two > li:hover {
    cursor: pointer;
    font-size: 30px;
    box-shadow: inset 0 0 30px;
    border-radius: 10px;
    transition: 0.3s ease-out;
}

.list_one > li:hover {
    cursor: pointer;
    font-size: 30px;
    box-shadow: inset 0 0 30px;
    border-radius: 10px;
    transition: 0.3s ease-out;
}

main {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

section.part_one {
    padding: 10px 30px 0 40px;
    height: 25%;
    background-color: var(--fc-one);
    width: 100%;
    box-shadow: 0 0 5px ;
}

.search {
    font-size: var(--margin-one);
    line-height: 50px;
}

input {
    width: 30em;
    height: 30px;
    border-radius: var(--margin-one);
    border: none;
    background: aquamarine;
    margin-left: 5px;
    text-align: center;
    font-size: large;
}

input:focus {
    outline: none;
    box-shadow: 0 0 20px;
    height: 40px;
}

.profile {
    height: 50px;
    margin-bottom: 20px;
}

.name, .p_avatar, .mdi-bell-ring {
    float: right;
    line-height: 50px;
    margin-left: 20px;
}

.name {
    font-weight: 900;
}

.name:hover {
    cursor: pointer;
}

.mdi-bell-ring:hover {
    cursor: pointer;
}

.profile_para {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.greeting {
    display: flex;
    gap: 10px;
}

.task {
    display: flex;
    margin: 0;
}

button {
    margin-left: 10px;
    height: 40px;
    width: 100px;
    background-color: var(--primary-color);
    border-radius: 20px;
    border: none;
    color: var(--fc-one);
    font-size: large;
}

button:hover {
    cursor: pointer;
    color: var(--primary-color);
    background-color: var(--fc-one);
    transition: 0.2s;
}

.part_two {
    display: flex;
    height: 75%;
    width: 100%;
}

.projects {
    width: 70%;
    height: 100%;
    padding: 40px;
}

.socials {
    width: 30%;
    height: 100%;
}

.grid_container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    row-gap: 20px;
}

.griditem {
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px;
    border-left: 7px solid var(--grid-border-color);
    border-radius: 10px;
    height: 180px;
    width: 350px;
}

.griditem:hover {
    cursor: pointer;
    border-left: 7px solid rgb(104, 126, 62);
}


