:root {
    --default-font: 'Open sans', sans serif;
    --primary-color: rgb(60, 119, 207);
    --grid-border-color: rgb(221, 209, 35);
    --fc-one: #fff;
    --margin-one: 20px;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

section.main {
    height: 100%;
    display: flex;
    flex-direction: row;
}

aside {
    height: 100%;
    width: 20%;
    background-color: var(--primary-color);
}

main {
    height: 100%;
    width: 80%;
}

.aside_links {
    height: 100%;
    color: var(--fc-one);
    font-family: var(--default-font);
    margin: var(--margin-one);
}

.mdi mdi-view-dashboard {
    font-size: 35px;
}

ul {
    list-style-type: none;
    margin-top: var(--margin-one);
    margin-top: 50px;
}

li {
    margin: var(--margin-one) auto;
}

.list_two > li:hover {
    cursor: pointer;
    font-size: 30px;
    box-shadow: inset 0 0 30px;
    border-radius: 10px;
    transition: 0.3s ease-out;
}

.list_one > li:hover {
    cursor: pointer;
    font-size: 30px;
    box-shadow: inset 0 0 30px;
    border-radius: 10px;
    transition: 0.3s ease-out;
}
